{% extends "base.html" %}



{% block temp %}
  <!--
<div class="backimg">
   <img src="background.jpg" width="1500" height="1000">
</div>
-->
 
<div class="greeting">
   <br></br>
   <p> Help us reach our goal of 10,000 meals donated to shelters and people in need/ Help end hunger in T&T today!</p>
</div>  
  
  <!--<div class = "button">
  <button type="button">Donate Now</button>
  </div> -->

  <button a href= "donate.html"> Donate Now </button>
  <!--<script src="script.js"></script> -->
  <br>
  
  <div class = "picture-parent">
      <div>
        <img src="{{ url_for('static', filename='food1.jpeg') }}" width="250" height="250">
      </div>
      <div>
        <img src="{{ url_for('static', filename='food2.jpeg') }}" width = "250" height = "250">
      </div>
      <div>
        <img src="{{ url_for('static', filename='food3.jpeg') }}" width = "250" height = "250">
      </div>
  </div>
  {% endblock %}
  
  
